<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261835861733-9oj84n7068q5v16t34t2otqlc2ogbnom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261835861733-9oj84n7068q5v16t34t2otqlc2ogbnom</string>
	<key>API_KEY</key>
	<string>AIzaSyCBCsGFvu4BDd6so4Wtc4vLFWiNaOAHha4</string>
	<key>GCM_SENDER_ID</key>
	<string>261835861733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-33f99</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-33f99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261835861733:ios:a0d7e79b5f9c9e7421ae0c</string>
</dict>
</plist>